$main-background-color: #e6f7ff;
$main-font-color: #036;
$code-background-color: #cef;
$footer-color: #e6f7ff;
$footer-background-color: #024;
$a-footer-color: #e6f7ff;
$header-background-color: #036;
$site-header-color: #fff;
$a-header-color: #fff; 
