$main-background-color: #024;
$main-font-color: #e6f7ff;
$code-background-color: #036;
$footer-color: #024;
$footer-background-color: #cef;
$a-footer-color: #024;
$header-background-color: #cef;
$site-header-color: #000;
$a-header-color: #036;
